<!DOCTYPE html>
<html>
  <!-- For every html, there is head and body -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <title>SOLAR OUTPUT CONTROLLER</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <!-- JQuerry for http calls -->
    
    <!-- #Import css -->
    <link rel="stylesheet" href="/app.css" />
    
    <script>
      // Function to fetch real-time data from the server
function pollForRealTimeData() {
    // Fetch real-time data from the server
    fetch('http://localhost:5000/get_real_time_data')
        .then(response => response.json())
        .then(updateRealTimeData)
        .catch(error => console.error('Error:', error));
}

function updateRealTimeData(realTimeData) {
    document.getElementById('weather').innerText =  realTimeData.weather;
    document.getElementById('advice').innerText =  realTimeData.advice;
}

// Initial call to fetch real-time data
pollForRealTimeData();

// Set up polling to fetch real-time data every 5 seconds (adjust as needed)
setInterval(pollForRealTimeData, 5000);


// Initial call to fetch real-time data
pollForRealTimeData();

// Set up polling to fetch real-time data every 5 seconds (adjust as needed)
setInterval(pollForRealTimeData, 5000);  // Change the interval as needed


function onPageLoad(){
    console.log( "document loaded" );
    var url = "http://127.0.0.1:5000/get_location_names";
    $.get(url,function(data, status){
        console.log("got response for get_location_names request");
        if (data) {
            var locations = data.locations;
            var uilocations = document.getElementById("uilocations");
            $('#uilocations').empty();
            for(var i in locations) {
                var opt = new Option(locations[i]);
                $('#uilocations').append(opt);
            }
        }
    });

    

    // Fetch initial real-time data and update the weather and advice
    fetch('http://localhost:5000/get_real_time_data')
        .then(response => response.json())
        .then(updateRealTimeData)
        .catch(error => console.error('Error:', error));


}

window.onload = onPageLoad;

const toggleButtons = document.querySelectorAll(".toggle");
        const statusMessage = document.getElementById("status-message");

        toggleButtons.forEach((button, index) => {
            button.addEventListener("click", () => {
                toggleStatus(button, index + 1);
            });
        });

        function toggleStatus(button, applianceNumber) {
            const status = button.parentElement.querySelector(".status");
            if (status.textContent === "Off") {
                status.textContent = "On";
                status.classList.add("on");
                if (statusMessage.style.display === "block") {
                    statusMessage.style.display = "none";
                }
            } else {
                status.textContent = "Off";
                status.classList.remove("on");
                statusMessage.style.display = "block";
            }
        }

      function updateValue(appliance) {
        console.log(`${appliance} button was clicked!`);
    
        // Determine the appliance ID based on the button clicked
        let applianceId;
        if (appliance === "office") {
          applianceId = "office0";
        } else if (appliance === 'lab') {
          applianceId = 'lab0';
        }

       

        fetch('http://localhost:5000/get_value')
            .then(response => response.json())
            .then(data => {
              const value = data.value
                // Update the content on the page with the received value
                document.getElementById('energy-reading').textContent = 'Energy-reading: ' + value;
            })
            .catch(error => console.error('Error:', error));
        
        fetch('http://localhost:5000/gas_state')
            .then(response => response.json())
            .then(data => {
              const weather = data.weather
              const advice = data.advice;

              document.getElementById('weather').textContent =  weather;
              document.getElementById('advice').textContent =  advice;
            })
            .catch(error => console.error('Error:', error));
        // Example code to create a simple line chart with Chart.js
        fetch('http://localhost:5000/get_chart_data')
            .then(response => response.json())
            .then(chartData => {
                // Assuming chartData is an array of values
                console.log(chartData)
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: chartData.labels,
                        datasets: [{
                            label: 'Chart Data',
                            data: chartData.values,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                            fill: false
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom'
                            },
                            y: {
                                min: 0,
                                max: 100,
                                ticks: {
                                    stepSize: 10
                                }
                            }
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching chart data:', error));

        // Make a POST request to the server's endpoint with the appliance ID
        fetch(`http://127.0.0.1:5000/receive_state`, {
          method: 'POST',
         
          headers: {
            'Content-Type': 'application/json',
            'dataType': "json",
          },
          body: JSON.stringify({ [applianceId]: 1 }),
        })
          .then(response => response.json())
          .then(data => {
            console.log('Data sent successfully:', data);
          })
          .catch(error => {
            console.error('Error sending data to server:', error);
          });
      }
    </script>
    
  </head>
  <body>
    <div class="img"></div>
      <div class="content">
        
      <div><img src="/images/fut-logo.png" alt="school logo" class="logo" /></div>
      <div class="header">
        <div><h1>FEDERAL UNIVERSITY OF TECHNOLOGY, MINNA.</h1></div>
        <div class="sub-header"><h2>SOLAR OUTPUT CONTROLLER</h2></div>
      </div>

      
      <div class="tab" id="advice-tab">
        
        <div class="advice-container">
          <h1>Weather </h1>
          <h2 id="weather"> </h2>
        </div>

         <div class="advice-container">
          <h1>Advice</h1>
          <h2 id="advice">  </h2>
        </div>
      </div>
     
      <div id="appliance-container">
        <h3 class="toggle-header">Toggle Appliances</h3>
        <div id="toggle-container">
             <div class="appliance">
          <h2>Office</h2>
          <p class="status">Off</p>
          <button class="toggle" onclick="updateValue('office')">Toggle</button>
        </div>
        <div class="appliance">
          <h2>Laboratory</h2>
          <p class="status">Off</p>
          <button class="toggle" onclick="updateValue('lab')">Toggle</button>
        </div>
        </div>
       
        
      </div>
      <div id="message">
        <p id="status-message">Please switch off the appliances</p>
      </div>

      <div class="readings">
        <div class="temperature-reading" id="temperature-reading"> 
              <div class="gauge">
           <ul class="meter">
				<li class="low"></li>
				<li class="normal"></li>
				<li class="high"></li>
			</ul>

			<div class="dial">
					<div class="inner">
						<div class="arrow"></div>
					</div>			
			</div>

			<div class="value">
				0%
			</div>
        </div>
          <span> Temperature: </span></div>


        <div class="humidity-reading" id="humidity-reading">
            <div class="gauge">
           <ul class="meter">
				<li class="low"></li>
				<li class="normal"></li>
				<li class="high"></li>
			</ul>

			<div class="dial">
					<div class="inner">
						<div class="arrow"></div>
					</div>			
			</div>

			<div class="value">
				0%
			</div>
        </div>
          <span>Humidity: </span></div>



        <div class="light-intensity" id="light-intensity">
          
            <div class="gauge">
           <ul class="meter">
				<li class="low"></li>
				<li class="normal"></li>
				<li class="high"></li>
			</ul>

			<div class="dial">
					<div class="inner">
						<div class="arrow"></div>
					</div>			
			</div>

			<div class="value">
				0%
			</div>
        </div>
          
          <span>Light intensity: </span></div>
        <div class="battery-percent" id="battery-percent">
            <div class="gauge">
           <ul class="meter">
				<li class="low"></li>
				<li class="normal"></li>
				<li class="high"></li>
			</ul>

			<div class="dial">
					<div class="inner">
						<div class="arrow"></div>
					</div>			
			</div>

			<div class="value">
				0%
			</div>
        </div>
          
          <span>Battery percentage: </span></div>


        <div class="energy-reading" id="energy-reading" >
          
             <div class="gauge">
           <ul class="meter">
				<li class="low"></li>
				<li class="normal"></li>
				<li class="high"></li>
			</ul>

			<div class="dial">
					<div class="inner">
						<div class="arrow"></div>
					</div>			
			</div>

			<div class="value">
				0%
			</div>
        </div>
          <span>Energy reading: </span></div>
      </div>
      
      <h1 id="displayed-value"></h1>
      
      </div>
    <canvas id="myChart" width="50" height="20"></canvas>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
